{{ template "header" . }}

<h1>パスワード変更</h1>

{{ if .Error }}
<p><font color="#FF0000">{{ .Error }}</font></p>
<p>{{ end }}</p>

<form action="/user/change_password" method="POST">
  <label>ユーザ名: </label><input type="text" name="username" required /><br />
  <label>旧 パスワード: </label
  ><input type="text" name="old_password" required /><br />
  <label>新 パスワード: </label
    ><input type="text" name="new_password" required /><br />
  <input type="submit" value="変更" />
</form>

<a href="/"><button type="button">トップへ戻る</button></a>
{{ template "footer" }}

